@model IEnumerable<ShopTARge24.Models.Spaceships.SpaceshipIndexViewModel>

@{
    int rowNumber = 1;
}

<div class="mb-3">
    <a asp-action="Create" asp-controller="Spaceships" class="btn btn-primary">Create</a>
</div>

<h1>Spaceships</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nr</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Built Date</th>
            <th scope="col">Crew</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var spaceship in Model)
        {
            <tr>
                <td>@rowNumber</td>
                <td>@spaceship.Name</td>
                <td>@spaceship.Classification</td>
                <td>@spaceship.BuiltDate</td>
                <td>@spaceship.Crew</td>
                <td>
                    <a asp-action="Details" asp-controller="Spaceships" asp-route-id="@spaceship.Id" class="btn btn-info">Details</a>
                    <a asp-action="Update" asp-controller="Spaceships" asp-route-id="@spaceship.Id" class="btn btn-primary">Update</a>
                    <a asp-action="Delete" asp-controller="Spaceships" asp-route-id="@spaceship.Id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>

            rowNumber++;
        }
    </tbody>
</table>
